form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.campo__texto {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  padding: 6px 8px;
  margin-top: 1rem;
  border: none;
  background-color: #3c096c;
}